<nav id="nav-bar" class="nav">
  <img src="../assets/images/logo.png" alt="Logo" />
  <button id="identification">S'identifier</button>
</nav>
<div id="section1">
  <h1>Films, séries TV et bien plus en illimité.</h1>
  <h2>Où que vous soyez. Annulez à tout moment.</h2>
  <!--Form Inscription-->
  <app-form-inscrip></app-form-inscrip>
</div>
<hr>

<div id="section2">
  <h1>Regardez Netflix sur votre TV.</h1>
  <h2>Regardez Netflix sur votre Smart TV, PlayStation, Xbox, Chromecast, Apple TV, lecteurs Blu-ray et bien plus.</h2>
  <img src="#" alt="image1" />
</div>
<hr>
<div id="section3">
  <img src="#" alt="image2" />
  <h1>Téléchargez vos séries préférées pour les regarder hors connexion.</h1>
  <h2>Profitez du mode hors ligne sans épuiser votre forfait.</h2>
</div>
<hr>
<div id="section4">
  <h1>Où que vous soyez.</h1>
  <h2>Regardez des films et séries TV en accès illimité sur votre TV, smartphone, tablette et ordinateur, tout compris.
  </h2>
  <img src="#" alt="image3" />
</div>
<hr>
<div id="section5">

  <!--Rideau de la Foire au questions-->
  <div id="rideau">
    <h1>Foire aux questions</h1>
    <h2>Netflix qu'est ce que c'est?</h2>
    <p>Netflix est un service de streaming qui propose une vaste sélection de séries TV, films, animes, documentaires et
      autres programmes primés sur des milliers d'appareils connectés à Internet. Regardez tout ce que vous voulez,
      quand
      vous voulez, sans publicité et à un tarif mensuel très attractif. Découvrez de nouveaux films et séries TV chaque
      semaine, il y en a pour tous les goûts !</p>
    <h2>Combien coute Netflix?</h2>
    <p>Regardez Netflix sur votre smartphone, tablette, Smart TV, ordinateur ou appareil de streaming, à un tarif
      mensuel
      fixe très attractif. Forfaits à partir de 65 MAD par mois. Sans contrat ni frais supplémentaires.</p>
    <h2>Ou puis je regarder Netflix?</h2>
    <p>Regardez où et quand vous voulez, sur un nombre illimité d'appareils. Connectez-vous à votre compte pour regarder
      Netflix en ligne sur netflix.com depuis votre ordinateur ou tout appareil connecté à Internet avec l'application
      Netflix, comme les Smart TV, smartphones, tablettes, lecteurs de streaming et consoles de jeu.

      Vous pouvez aussi télécharger vos séries préférées avec l'application iOS, Android ou Windows 10. Téléchargez des
      titres pour les regarder sur votre appareil mobile, même sans connexion Internet. Emportez Netflix partout avec
      vous.</p>
    <h2>Comment puis je annuler mon forfait?</h2>
    <p>Netflix offre une grande souplesse. Pas de contrat compliqué. Sans engagement. Deux clics suffisent pour annuler
      votre compte en ligne. Pas de frais d'annulation : ouvrez ou fermez votre compte à tout moment.</p>
    <h2>Que puis je regarder sur Netflix?</h2>
    <h2>Netflix propose un vaste catalogue comprenant notamment des longs métrages, des documentaires, des séries TV,
      des
      animes et des programmes originaux Netflix primés. Regardez Netflix à volonté, quand vous le voulez.</h2>
  </div>
  <!--Form Inscription-->
  <app-form-inscrip></app-form-inscrip>
</div>
<hr>
<div id="footer">
  <h4><a href="#">Des questions ? Contactez-nous.</a></h4>
  <ul id="links">
    <div id="left">
      <li>FAQ</li>
      <li>Centre d'aide</li>
      <li>ComptePresse</li>
      <li>Relations Investisseurs</li>
    </div>
    <div id="center-a">
      <li>Recrutement</li>
      <li>Modes de lecture</li>
      <li>Conditions d'utilisation</li>
      <li>Confidentialité</li>
    </div>
    <div id="center-b">
      <li>Préférences de cookies</li>
      <li>Mentions légales</li>
      <li>Nous contacter</li>
      <li>Test de vitesse</li>
    </div>
    <div id="right">
      <li>Informations légales</li>
      <li>Programmes originaux</li>
      <li>Netflix</li>
    </div>
  </ul>
  <select id="langue">
    <option>Arabe</option>
    <option>Français</option>
    <option>Anglais</option>
  </select>
</div>
